.auth-body{
    background: $clr-bg;
}
.auth-form{
    width: 100%;
    height: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .auth-inputs{
        background: $clr-white;
        padding: 50px;
        border-radius: 10px;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        h2{
            font-size: 2rem;
            font-weight: 700;
        }
        p{
            font-size: 1.2rem;
        }
        .auth-input{
            position: relative;
            margin-bottom: 14px;

            input{
                padding: 10px 50px;
            }
            i{
                font-size: 1.2rem;
                position: absolute;
                top: 43px;
                left: 20px;
                color: $clr-darken-gray;
            }
            label{
                font-size: 1rem;
                font-weight: 500;
            }
        }
        .auth-forgot{
            a{
                font-weight: 500;
            }
        }
    }
}

@media only screen and (max-width: 992px){
    .auth-form{
        height: 100%;
        .auth-inputs{
            padding: 10px 20px;
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
            .auth-input{
                position: relative;
                margin-bottom: 12px;
    
                input{
                    padding: 7px 50px;
                }
                i{
                    font-size: 1rem;
                }
            }
        }
    }
    
}
