.navbar-inner-wrap{
    background: $clr-white;
}
.nav-head{
    margin: 0 20px;
}
.navbar-brand{
    .logo{
        width: 42px;
    }
    .logo-title{
        font-size: 1.5rem;
        font-weight: 600;
        font-family:'Trebuchet MS';
        color: $clr-secondary;
        margin-left: 10px;
        letter-spacing: 1px;
    }
}
.navbar{
    background: $clr-white;
    .nav-link{
        cursor: pointer;
        position: relative;
        .fa-bell{
            font-size: 1.5rem;
        }
        .fa-chevron-down{
            color: $clr-primary;
            font-size: 1rem;
        }
        .dropdown-menu{
            transform: translateX(0%);
            position: absolute;
        }
    }
    .nav-settings:hover{
        background: $clr-bg;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
    }
    .sidebar-nav{
        width: 100%;
        padding: 20px;
        height: 100vh;
        .nav-item{
            padding: 0 20px;
            .nav-link{
                color: $clr-black;
                margin-bottom: 20px;
                .fa-solid{
                    margin-right: 30px;
                    font-size: 1.2rem;
                }
            }
            &:hover{
                background: $clr-gray;
                border-radius: 10px;
            }
        }
        .active{
            background: linear-gradient(90deg, $clr-secondary, $clr-primary);
            padding: 0 20px;
            border-radius: 10px;
            .nav-link{
                color: $clr-white;
            }
            &:hover{
                background: linear-gradient(90deg, $clr-secondary, $clr-primary);
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .nav-head{
        margin: 0 20px;
    }
    .navbar{
        background: $clr-white;
        .navbar-brand{
            margin-left: 0;
            .logo{
                width: 50px;
            }
        }
        .nav-link{
            .fa-bell{
                font-size: 1.2rem;
            }
            .dropdown-menu{
                transform: translateX(-60%);
                position: absolute;
            }
        }
        .sidebar-nav{
            width: 500px;
            padding: 20px;
            .nav-item{
                padding: 0 20px;
                .nav-link{
                    position: relative;
                    margin-bottom: 5px;
                    .fa-solid{
                        margin-right: 5px;
                    }
                }
            }
            .active{
                padding: 0 20px;
            }
        }
    }
}